body{
    background-image: url(./b2.jpg);
    background-size: cover;
}

.container{
    border: 5px solid wheat;
    margin-left:1000px;
    margin-right: 1000px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.item{
    width: 350px;
    height: 350px;
    background-color: black;
    border: 1px solid white;
    margin: 5px;
    margin-left: 100px;
    text-align: center;
    flex-wrap: wrap-reverse;  
}
.name{
    font-size: 100px;
    border: 5px solid red;
    background-color: red;
    text-align: center;
    margin-left:1000px;
    margin-right: 1000px;
    margin-top: 600px;
    
    
}